
.cirru-complete {
    right: 0;
    top: 0px;
    overflow: auto;
    position: absolute;
}

.cirru-item {
    color: hsl(0, 100%, 100%);
    padding: 6px 6px 2px;
    min-width: 80px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.cirru-item.is-chosen {
    border-bottom: 1px solid white;
}