
@import url('sequence.css');
@import url('token.css');
@import url('complete.css');
@import url('caret.css');

.cirru-editor {
    background: #3358EA;
    color: white;
    height: 100%;
    overflow: auto;
    width: 100%;
    margin: 0;
}


.cirru-input {
    pointer-events: none;
    opacity: 0;
    position: absolute;
    top: 0;
}

.cirru-editor {
    font-family: Menlo;
    font-size: 14px;
    position: relative;
    box-sizing: border-box;
}

.cirru-editor * {
    box-sizing: border-box;
}

.cirru-editor .caret {
    min-width: 4px;
    height: 20px;
    display: inline-block;
    outline: none;
    margin: 0 0.5em;
    vertical-align: middle;
    border-top: solid white 1px;
    line-height: 20px;
    text-align: center;
}