
@import url('editor.css');

body {
    margin: 0;
}

#entry {
    margin: 33px;
}

.cirru-editor {
    width: 1000px;
    height: 600px;
}


#hint {
    font-size: 20px;
    font-family: Optima;
    line-height: 30px;
    margin: 0px 10px;
}