
@import url('cirru-editor.css');

body {
    margin: 0;
}

.cirru-editor {
    width: 600px;
    height: 300px;
    overflow: auto;
}

.cirru-caret {
    display: inline-block;
    background: white;
    height: 1em;
    width: 0.5em;
}