
@import url('cirru-editor.css');

body {
    margin: 0;
}

.cirru-editor {
    width: 600px;
    height: 500px;
}


#hint {
    font-size: 20px;
    font-family: Optima;
    line-height: 30px;
    margin: 0px 10px;
}