
.cirru-editor .token {
    display: inline-block;
    outline: none;
    min-width: 4px;
    height: 20px;
    vertical-align: middle;
    color: hsla(0, 100%, 100%, 0.5);
    text-align: center;
    border-bottom: solid 1px white;
    padding: 0 6px;
}

.cirru-editor .token.is-dragging {
    opacity: 0;
}

.cirru-editor .token.is-dropping {
    background: gray;
}

.cirru-editor .token + .token {
    margin-left: 0.5em;
}

.cirru-editor .token:hover {
    color: white;
}

.cirru-editor .token > .letter.is-space {
    display: inline-block;
    width: 0.5em;
    vertical-align: middle;
    box-shadow: 0 -1px 0 hsla(0, 100%, 100%, 0.5);
    height: 1em;
}