
@import settings
@import define

.cirru-editor
  background-color bg-blue
  color white
  width editor-width
  height editor-height
  position relative
  overflow scroll

  .cirru-inner
    height 100%
    width 100%
    overflow scroll

  .cirru-page
    height 100%
    width 100%
    padding-top (editor-height - 20px)
    padding-bottom (editor-height - 20px)

  .cirru-command
    position absolute
    right 0
    bottom command-y