
.cirru-editor
  .cirru-inner
    .cirru-page somthing
  .cirru-command
    input.cirru-input
    button.cirru-button a
    button.cirru-button b

.cirru-cell(draggalbe='true')
  span.cirru-head
  div.cirru-nesting