
@import url(./fonts/source-code-pro.css);

::selection {
  color: hsl(360, 100%, 90%);
  background-color: hsla(200, 10%, 30%, 0.5);
}

.cirru-editor {
  background-color: hsla(160,20%,0%,1);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.cirru-editor * {
  box-sizing: border-box;
}

.cirru-expr:focus, input.cirru-token:focus {
  outline: none;
}

.cirru-expr {
  min-height: 20px;
  border: none;
  border: 1px solid hsla(0,100%,100%,0.1);
  border-bottom-left-radius: 4px;
  border-width: 0px 0px 0px 1px;
  padding: 0px 0px 0px 14px;
  margin-top: 2px;
  margin-bottom: 2px;
  vertical-align: top;
  transition-duration: 400ms;
}

.cirru-expr:hover {
  border-color: hsla(360, 100%, 100%, 0.2);
}

.cirru-expr:focus {
  border-color: hsla(360, 100%, 100%, 0.5);
}

.cirru-expr.is-inline {
  display: inline-block;
  vertical-align: top;
  margin-right: 14px;
  margin-left: 0;
}

.cirru-expr.is-simple {
  display: inline-block;
  border-width: 0px 0px 1px 0;
  padding: 0 4px 4px 4px;
  margin: 0 8px 0 0;
}

.cirru-expr.is-inline .cirru-token {
  margin-top: -1px;
}

.cirru-expr.is-empty {
  padding: 0 8px;
}

.cirru-expr.is-root {
  display: block;
  margin-top: 0;
  margin-left: 10px;
}

.cirru-token {
  position: relative;
  display: inline-block;
  line-height: 20px;
  margin-right: 4px;
  opacity: 0.8;
}

input.cirru-token {
  border: none;
  display: inline-block;
  background-color: transparent;
  color: white;
  font-family: Source Code Pro, Menlo, Consolas, monospace;
  line-height: 20px;
  font-size: 15px;
  padding: 0 0px 0 4px;
  box-sizing: content-box;
  color: hsl(220,40%,40%)
}

input.cirru-token.is-head {
  color: hsl(30,60%,50%);
}

input.cirru-token.is-fuzzy {
  background-color: hsla(200, 0%, 100%,0.15);
}

input.cirru-token:hover {
  opacity: 1;
}
input.cirru-token:focus {
  opacity: 1;
}

.cirru-toolbar {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  height: 30px;
  padding: 0 1px;
}

.cirru-tool-button {
  color: white;
  font-size: 12px;
  font-family: Menlo, Consolas, monospace;
  background-color: hsl(120,40%,40%);
  padding: 0 6px;
  line-height: 18px;
  height: 18px;
  cursor: pointer;
  display: inline-block;
}

.cirru-container {
  overflow: auto;
  flex: 1;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: hsla(180, 100%, 50%, 0.2);
}
