
.cirru-editor {
  background-color: hsla(160,20%,0%,1);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.cirru-expr:focus, input.cirru-token:focus {
  outline: none;
}

.cirru-expr {
  min-height: 20px;
  border: none;
  border-left: 1px solid hsla(0,100%,100%,0.24);
  padding: 0px 0px 0px 14px;
  margin: 4px 0px;
}

.cirru-expr:focus {
  border-color: white;
}

.cirru-expr.is-inline {
  display: inline-block;
  vertical-align: top;
  margin-right: 14px;
  margin-left: 0;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0;
  padding-bottom: 0;
}

.cirru-expr.is-inline .cirru-token {
  margin-top: -1px;
}

.cirru-expr.is-empty {
  padding: 0 8px;
}

.cirru-expr.is-root {
  display: block;
  margin-top: 0;
  margin-left: 10px;
}

.cirru-token {
  position: relative;
  display: inline-block;
  line-height: 20px;
}

input.cirru-token {
  border: none;
  display: inline-block;
  background-color: transparent;
  color: white;
  font-family: Menlo, Courier, monospace;
  line-height: 20px;
  font-size: 14px;
  padding: 0 0 0 4px;
  box-sizing: content-box;
  border-radius: 2px;
  color: hsl(100,50%,50%);
}

input.cirru-token.is-head {
  color: hsl(220, 80%, 76%)
}

input.cirru-token.is-fuzzy {
  background-color: hsla(240, 80%, 90%,0.3);
}

input.cirru-token:focus {
  background-color: hsla(200, 0%, 100%,0.15);
}

.cirru-suggest {
  position: absolute;
  z-index: 100;
  top: 100%;
  left: 0;
}

.cirru-guess {
  background-color: hsl(240,80%,75%);
  color: white;
  font-family: Menlo;
  font-size: 14px;
  padding: 2px 4px;
  cursor: pointer;
  white-space: nowrap;
}

.cirru-guess.is-selected {
  background-color: hsl(240,80%,70%);
}

.cirru-toolbar {
  display: flex;
  align-items: center;
  height: 30px;
  padding: 0 1px;
}

.cirru-tool-button {
  color: white;
  font-size: 12px;
  font-family: Menlo;
  background-color: hsl(120,40%,40%);
  padding: 0 6px;
  line-height: 18px;
  height: 18px;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
}

.cirru-container {
  overflow: auto;
  flex: 1;
}
