
.cirru-editor {
  background-color: hsl(240,80%,80%);
  padding: 100px 10px 300px;
}

.cirru-expr:focus, .cirru-token input:focus {
  outline: none;
}

.cirru-expr {
  min-height: 24px;
  border: none;
  border-left: 1px solid hsla(0,100%,100%,0.3);
  padding: 2px 0px 2px 12px;
}

.cirru-expr:focus {
  border-color: white;
}

.cirru-expr.is-inline {
  display: inline-block;
  border: none;
  box-shadow: 0 1px 0 hsla(0,100%,100%,0.3);
  vertical-align: middle;
  margin-right: 8px;
  margin-left: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.cirru-expr.is-inline:focus {
  box-shadow: 0 1px 0 white;
}

.cirru-expr.is-inline .cirru-token {
  margin-top: -1px;
}

.cirru-expr.is-empty {
  padding: 0 8px;
}

.cirru-expr.is-root {
  display: block;
  margin-top: 0;
}

.cirru-token {
  position: relative;
  display: inline-block;
  line-height: 24px;
}

.cirru-token input {
  border: none;
  display: inline-block;
  background-color: transparent;
  color: white;
  font-family: Menlo;
  line-height: 24px;
  font-size: 14px;
  padding: 0 0 0 4px;
  box-sizing: content-box;
  border-radius: 2px;
  transform: translate(-4px, 0);
}

.cirru-token.is-fuzzy input {
  background-color: hsla(240, 80%, 90%,0.3);
}

.cirru-token input:focus {
  background-color: hsla(240, 80%, 60%,0.3);
}

.cirru-suggest {
  position: absolute;
  z-index: 100;
  top: 100%;
  left: 0;
}

.cirru-guess {
  background-color: hsl(240,80%,75%);
  color: white;
  font-family: Menlo;
  font-size: 14px;
  padding: 2px 4px;
  cursor: pointer;
  white-space: nowrap;
}

.cirru-guess.is-selected {
  background-color: hsl(240,80%,70%);
}
