
*
  box-sizing border-box

body
  background hsl(240,90,94)
  display -webkit-flex
  -webkit-flex-direction row
  height 100%
  width 100%
  position absolute
  margin 0px

#editor
  min-width 76%
  height 100%

#another
  vertical-align top
  width 24%
  height 100%
  background hsla(0,60,60,0.7)
  box-shadow 0px 0px 10px hsl(0,0,50)