
.cirru-editor {
  background-color: hsl(240,80%,80%);
  padding: 10px;
}

.cirru-expr:focus, .cirru-token input:focus {
  outline: none;
}

.cirru-expr {
  min-height: 20px;
  border: none;
  border-left: 1px solid hsla(0,100%,100%,0.3);
  padding: 2px 10px;
}

.cirru-expr:focus {
  border-color: white;
}

.cirru-expr.is-plain {
  display: inline-block;
  padding: 4px 0;
  border: none;
  border-bottom: 1px solid hsla(0,100%,100%,0.3);
}

.cirru-expr.is-plain:focus {
  border-color: white;
}

.cirru-editor > .cirru-expr {
  display: block;
  margin-top: 0;
}
.cirru-editor > .cirru-expr > .cirru-expr {
  display: block;
  border: none;
  border-left: 1px solid hsla(0,100%,100%,0.3);
}
.cirru-editor > .cirru-expr > .cirru-expr:focus {
  border-color: white;
}

.cirru-token {
  position: relative;
  margin-right: 6px;
}

.cirru-token input {
  border: none;
  display: inline-block;
  background-color: transparent;
  color: white;
  font-family: Menlo;
  line-height: 20px;
  font-size: 14px;
  padding: 0 4px;
  box-sizing: content-box;
  border-radius: 2px;
}

.cirru-token.is-fuzzy input {
  background-color: hsla(240, 80%, 90%,0.3);
}

.cirru-token input:focus {
  background-color: hsla(240, 80%, 60%,0.3);
}

.cirru-suggest {
  position: absolute;
  z-index: 100;
  top: 100%;
  left: 0;
}

.cirru-guess {
  background-color: hsl(240,80%,75%);
  color: white;
  font-family: Menlo;
  font-size: 14px;
  padding: 2px 4px;
  cursor: pointer;
  white-space: nowrap;
}

.cirru-guess.is-selected {
  background-color: hsl(240,80%,70%);
}

.cirru-token.is-drag,
.cirru-expr.is-drag {
  opacity: 0.3;
}

.cirru-token.is-drop,
.cirru-expr.is-drop {
  box-shadow: 0 0 4px white;
}
