
.cirru-editor
  padding 6px
  background hsl(240,60,88)
  box-shadow 0px 0px 20px hsla(240,20,30,0.4)
  opacity 0.6
  font-family monospace
  color white
  overflow scroll

  code
    box-shadow 0px 1px 0px hsl(0, 100, 100)
    padding 0px 2px

  #caret
    padding 0px 1px
    margin 0px -1px
    background white
    // box-shadow 0px 0px 4px white
    width 2px
    height 20px

  *
    box-sizing border-box
    -moz-box-sizing  border-box

  pre
    margin 0px

::-webkit-scrollbar
  width 4px
  height 4px
  border-radius 2px
  background hsl(240,20,90)

::-webkit-scrollbar-track
  width 4px
  background hsl(240,20,90)
  border-radius 2px

::-webkit-scrollbar-thumb
  background hsla(0,50,60,0.5)
  border-radius 2px

::-webkit-scrollbar-corner
  background hsla(0,50,90,0.4)
  border-radius 0px 0px 4px 0px