.cirru-editor,
.cirru-code {
  padding: 100px 6px 300px;
  background: #474785;
  opacity: 0.6;
  color: #fff;
  overflow: scroll;
  box-sizing: border-box;
  height: 0px;
}
.cirru-editor code,
.cirru-code code {
  padding: 1px 0px;
  margin: 0px 4px;
  font-family: Monaco, monospace;
  color: rgba(153,153,153,0.7);
}
.cirru-editor #caret,
.cirru-code #caret {
  padding: 0px;
  margin: 0px;
  background: rgba(230,230,230,0.7);
  width: 8px;
  margin-right: -8px;
  display: inline-block;
  position: relative;
  left: -4px;
}
.cirru-editor *,
.cirru-code * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.cirru-editor pre,
.cirru-code pre {
  margin: 10px 4px;
  padding: 0px 16px;
  box-shadow: -1px 0px 0px rgba(230,230,230,0.5);
  line-height: 16px;
  font-size: 16px;
}
.cirru-editor pre pre code,
.cirru-code pre pre code {
  color: #fff;
}
.cirru-editor pre pre .inline,
.cirru-code pre pre .inline {
  margin: 0px 4px;
  padding: 0px 4px;
  display: inline-block;
  box-shadow: 0px 1px 0px rgba(230,230,230,0.5);
}
.cirru-editor>pre,
.cirru-code>pre,
.cirru-editor>.inline,
.cirru-code>.inline {
  margin: 0px;
  box-shadow: none;
}
.cirru-editor #input,
.cirru-code #input {
  outline: none;
  border: none;
  padding: 0px;
  background: #5a5af6;
  color: #fff;
  margin: 0px;
  font-family: Monaco, monospace;
}
.cirru-focused {
  background: #2626d9;
  box-shadow: 0px 0px 20px rgba(61,61,92,0.4);
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background: #e0e0eb;
}
::-webkit-scrollbar-track {
  width: 4px;
  background: #e0e0eb;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb {
  background: rgba(204,102,102,0.5);
  border-radius: 2px;
}
::-webkit-scrollbar-corner {
  background: rgba(242,217,217,0.4);
  border-radius: 0px 0px 4px 0px;
}
