
.cirru-editor, .cirru-code
  padding 100px 6px 300px
  background hsl(240,30,40)
  opacity 0.6
  color white
  overflow scroll
  box-sizing border-box
  height 0px

  code
    padding 1px 0px
    margin 0px 4px
    font-family Monaco, monospace
    color hsla(0,0,60,0.7)

  #caret
    padding 0px
    margin 0px
    background hsla(0,0,90,0.7)
    width 8px
    margin-right -8px
    display inline-block
    position relative
    left -4px

  *
    box-sizing border-box
    -moz-box-sizing  border-box

  pre
    margin 10px 4px
    padding 0px 16px
    box-shadow -1px 0px 0px hsla(0,0,90,0.5)
    line-height 16px
    font-size 16px

    pre
      code
        color hsl(0,0,100)

      .inline
        margin 0px 4px
        padding 0px 4px
        display inline-block
        box-shadow 0px 1px 0px hsla(0,0,90,0.5)

  &>pre, &>.inline
    margin 0px
    box-shadow none

  #input
    outline none
    border none
    padding 0px
    background hsl(240,90,66)
    color white
    margin 0px
    font-family Monaco, monospace

.cirru-focused
  background hsl(240,70,50)
  box-shadow 0px 0px 20px hsla(240,20,30,0.4)

::-webkit-scrollbar
  width 4px
  height 4px
  border-radius 2px
  background hsl(240,20,90)

::-webkit-scrollbar-track
  width 4px
  background hsl(240,20,90)
  border-radius 2px

::-webkit-scrollbar-thumb
  background hsla(0,50,60,0.5)
  border-radius 2px

::-webkit-scrollbar-corner
  background hsla(0,50,90,0.4)
  border-radius 0px 0px 4px 0px