
!!!5
html
  head
    title Cirru
    link(rel='stylesheet',href='s.css')
    script(src='../lib/jquery.min.js')
    script(src='editor.js')
    link(href='http://fonts.googleapis.com/css?family=Montserrat',rel='stylesheet',type='text/css')
    script(src='../lang/eval.js')
    script(src='j.js')
  body
    header#cirru