
!!!5
html
  head
    title Cirru
    link(rel='stylesheet',href='s.css')
    script(src='../lib/jquery.min.js')
    script(src='editor.js')
    script(src='../lang/eval.js')
    script(src='../lib/jquery.tipsy.js')
    script(src='j.js')
  body
    header#cirru