* {
  box-sizing: border-box;
}
body {
  background: #e2e2fd;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0px;
}
#editor {
  min-width: 76%;
  height: 100%;
}
#another {
  vertical-align: top;
  width: 24%;
  height: 100%;
  background: rgba(214,92,92,0.7);
  box-shadow: 0px 0px 10px #808080;
}
