
body
  background hsl(240,90,94)

#editor
  margin 20px
  width 1100px
  display inline-block
  height 600px

#another
  vertical-align top
  margin-top 40px
  width 100px
  height 300px
  background hsla(0,60,60,0.7)
  display inline-block
  box-shadow 0px 0px 10px hsl(0,0,50)