#editor {
  box-sizing: border-box;
  background: #7575f0;
  height: 500px;
  width: 700px;
  font-family: 'wenquanyi micro hei mono';
  font-size: 14px;
  letter-spacing: 1px;
  padding: 6px 6px 400px 6px;
  color: #fff;
  overflow: scroll;
  box-shadow: 0px 0px 8px #808080;
  line-height: 20px;
}
#editor code {
  margin: 2px 4px;
  padding: 0px 2px;
  background: rgba(205,205,254,0.8);
  color: #3d3df5;
  border-radius: 4px;
  padding: 2px 4px;
  white-space: nowrap;
  line-height: 24px;
  -webkit-transition-duration: 0.6s;
}
#editor code:hover {
  margin: 2px 6px;
}
#editor code:focus {
  text-shadow: 0px 0px 8px #fff;
}
#editor div {
  box-shadow: -2px 0px 0px #bbbbfb;
  margin: 2px 0px 2px 10px;
  padding: 0px 8px;
  white-space: nowrap;
  border-radius: 8px;
}
#editor #point {
  outline: 0px;
}
#editor .inline {
  margin: 0px 10px;
  display: inline-block;
  border-style: solid;
  border-width: 0px 2px 0px 0px;
  border-color: #bbbbfb;
}
#editor code#point:empty {
  margin: 0px -2px;
}
#editor + #menu {
  position: absolute;
  font-family: 'wenquanyi micro hei mono';
  font-size: 14px;
  letter-spacing: 1px;
  padding: 0px 4px;
  color: #fff;
  width: 0px;
  overflow-y: visible;
}
#editor + #menu span {
  background: #6e6ef7;
  color: #cdcdfe;
  border-radius: 4px;
  line-height: 24px;
  padding: 2px 4px;
  white-space: nowrap;
  box-shadow: 0px 0px 8px #fff;
}
#editor + #menu #sel {
  background: rgba(35,35,251,0.7);
}
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  background: rgba(237,230,222,0);
}
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: #f7d4d4;
}
