#editor {
  background: #7575f0;
  height: 500px;
  width: 800px;
  font-family: 'wenquanyi micro hei mono';
  font-size: 14px;
  letter-spacing: 1px;
  padding: 6px;
  color: #fff;
  overflow: scroll;
  box-shadow: 0px 0px 8px #808080;
}
#editor div {
  display: inline-block;
  margin: 2px 4px;
  padding: 2px 4px;
  box-shadow: 0px 0px 4px #cfcffc;
  border-radius: 4px;
}
#editor section {
  border-color: #9e9efa;
  border-style: solid;
  border-width: 0px 0px 0px 1px;
  margin: 4px 0px 4px 9px;
  padding: 0px 0px 1px 8px;
  white-space: nowrap;
}
#editor .point {
  box-shadow: 0px 0px 8px #fff;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background: #ede6de;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #ad8585;
}
