
#cirru
  box-sizing border-box;
  background: hsl(240,80,70)
  height 500px
  width 700px
  font-family 'wenquanyi micro hei mono'
  font-size 14px
  letter-spacing 1px
  padding 6px 6px 400px 6px
  color white
  overflow scroll
  box-shadow 0px 0px 8px gray
  line-height 20px

  code
    margin 2px 4px
    padding 0px 2px
    background hsla(240, 98, 90, 0.8)
    color hsl(240,90,60)
    border-radius 4px
    padding 2px 4px
    white-space nowrap
    line-height 24px
    -webkit-transition-duration 0.6s

    &:hover
      margin 2px 6px

    &:focus
      text-shadow 0px 0px 8px white

  div
    box-shadow -2px 0px 0px hsl(240,90,86)
    margin 2px 0px 2px 10px
    padding 0px 8px
    white-space nowrap
    border-radius 8px

  #point
    outline 0px

  .inline
    margin 0px 10px
    display: inline-block;
    border-style solid
    border-width 0px 2px 0px 0px
    border-color hsl(240,90,86)

  code#point:empty
    margin 0px -2px

  + #menu
    position absolute
    font-family 'wenquanyi micro hei mono'
    font-size 14px
    letter-spacing 1px
    padding 0px 4px
    color white
    width 0px
    overflow-y visible

    span
      background hsl(240,90,70)
      color hsl(240, 98, 90)
      border-radius 4px
      line-height 24px
      padding 2px 4px
      white-space nowrap
      box-shadow 0px 0px 8px white

    #sel
      background hsla(240,96,56,0.7)

::-webkit-scrollbar
  width 2px
  height 2px
  background hsla(30,30,90,0)
::-webkit-scrollbar-thumb
  border-radius 2px
  background hsl(0,70,90)