
#editor
  background: hsl(240,80%,70%)
  height: 500px
  width: 800px
  font-family 'wenquanyi micro hei mono'
  font-size 14px
  letter-spacing 1px
  padding 6px
  color white
  overflow scroll
  box-shadow 0px 0px 8px gray
  line-height 20px

  code
    margin 2px 4px
    padding 0px 2px
    box-shadow 0px 1px 0px hsl(120,90%,40%)
    -webkit-transition-duration 0.6s

    &:hover
      margin 2px 6px

    &:focus
      text-shadow 0px 0px 8px white

  div
    box-shadow -1px 0px 0px hsl(240,90%,86%)
    margin 2px 0px 2px 10px
    padding 0px 8px
    white-space nowrap
    border-radius: 4px;

  #point
    outline 0px
    text-shadow 0px 0px 8px white

  .inline
    margin 0px 10px
    display: inline-block;
    border-style solid
    border-width 0px 1px 0px 0px
    border-color hsl(240,90%,86%)

  code#point:empty
    margin 0px -2px

  + #menu
    position absolute
    max-height 200px
    overflow-y scroll
    font-family 'wenquanyi micro hei mono'
    font-size 14px
    letter-spacing 1px
    padding 0px 4px
    color white

    span
      background hsla(240, 98%, 76%, 0.7)
      color white
      padding 2px 4px
      margin 1px 0px 1px 0px
      border-radius 4px
      box-shadow 0px 0px 4px white
      line-height 26px

::-webkit-scrollbar
  width 2px
  height 2px
  background hsla(30,30%,90%,0)
::-webkit-scrollbar-thumb
  border-radius 2px
  background hsl(0,70%,90%)